[submodule "engine"]
	path = engine
	url = git@github.com:John-Sharp/engine.git
[submodule "jTypes"]
	path = jTypes
	url = git@github.com:John-Sharp/jTypes.git
[submodule "dataStructures"]
	path = dataStructures
	url = git@github.com:John-Sharp/dataStructures.git
[submodule "collDetect"]
	path = collDetect
	url = git@github.com:John-Sharp/collDetect.git
[submodule "studiousBroccoli"]
	path = studiousBroccoli
	url = git@github.com:John-Sharp/studiousBroccoli.git
